:root {
  --green: #15573f;
  --green-light: #75bc97;
  --green-dark: #0c261c;
  --orange: #fd9872;

  --white: #ffffff;
  --text: #848484;
  --title-bold: #a9a9a9;

  --select: #a8a8a8;
  --select-hover: #efefef;

  --background: #f6f6f6;

  --button-border: #15573F;
  --button-text: #196146;

  --card-name: #1E6B4E;
  --card-price: #257556;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  display: block;
  padding: 0 2rem;
  height: 100%;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 812px) {
  .container {
    max-width: 1440px;
    padding: 0 4rem;
    margin: 0 auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
